<div>
	<p>Hi <%=  token.user.name %> </p>
	<br>
	<br>
	<p>
		We heard you forgot your password
		<br>
		Click on the below given link to Reset your Password
		<br>
		<strong>
			<h2>
				<a href="<%= frontend_url %>/reset-password/<%= token.hash %>/<%= token.user.id %>">Click on Me To Reset</a>
			</h2>
		</strong>
		<br>
		or Copy and Paste the link given below in you browser
		<br>
		<br>
		<h4>
			<%= frontend_url %>/reset-password/<%= token.hash %>/<%= token.user.id %>
		</h4>
		Also this is only valid for next 10 minutes so use your time wisely
		<br>
		<p>Thank you <%=  token.user.name %> </p>
	</p>
</div>